In [1]:
import datetime as dt
import pandas as pd
from tinkoff import client
import config

In [2]:
pd.set_option('display.max_rows', 50)

In [3]:
stocks_data = client.get_stocks()

In [4]:
df = pd.DataFrame.from_dict(stocks_data)
df = df.drop(columns=['type', 'minPriceIncrement', 'lot'])
df = df[df.currency == 'USD']
df.sort_values('ticker')

              figi ticker          isin currency                         name
712   BBG000C2V3D6      A  US00846U1016      USD         Agilent Technologies
1086  BBG00B3T3HD3     AA  US0138721065      USD            Alcoa Corporation
1145  BBG005P7Q881    AAL  US02376R1023      USD      American Airlines Group
526   BBG000D9V7T4    AAN  US0025353006      USD                  Aaron's Inc
467   BBG000F7RCJ1    AAP  US00751Y1064      USD           Advance Auto Parts
...            ...    ...           ...      ...                          ...
981   BBG0039320N9    ZTS  US98978V1035      USD                       Zoetis
1146  BBG000PYX812   ZUMZ  US9898171015      USD                   Zumiez Inc
266   BBG000BT3HG5    ZUO  US98983V1061      USD                    Zuora Inc
801   BBG007BBS8B7   ZYNE  US98986X1090      USD  Zynerba Pharmaceuticals Inc
634   BBG000BJBXZ2   ZYXI  US98986M1036      USD                    Zynex Inc

[1256 rows x 5 columns]

In [5]:
df[df.ticker == 'BA']

             figi ticker          isin currency    name
684  BBG000BCSST7     BA  US0970231058      USD  BOEING

In [43]:
start_dt = dt.datetime(2020, 6, 30, 18, 20)
end_dt = dt.datetime(2020, 6, 30, 23, 40)

data = client.get_candles('BBG000BCSST7', interval='1min', start_dt=start_dt, end_dt=end_dt)

In [44]:
from pydantic import BaseModel
from decimal import Decimal


class Candle(BaseModel):
    open: Decimal
    high: Decimal
    low: Decimal
    close: Decimal
    volume: Decimal
    time: dt.datetime

In [45]:
candles = [Candle(
    open=obj['o'],
    high=obj['h'],
    low=obj['l'],
    close=obj['c'],
    volume=obj['v'],
    time=dt.datetime.fromisoformat(obj['time'].replace('Z', '+00:00')).astimezone(config.TIMEZONE)
) for obj in data]

In [46]:
pd.DataFrame.from_dict([candle.dict() for candle in candles])

       open    high     low   close volume                      time
0    188.68  188.68   188.4  188.49   3731 2020-06-30 18:20:00+05:00
1    188.49  188.77  188.49  188.75   1018 2020-06-30 18:21:00+05:00
2    188.79  189.27  188.78  189.12   2301 2020-06-30 18:22:00+05:00
3    189.12  189.38     189  189.22   4778 2020-06-30 18:23:00+05:00
4     189.2   189.2     189  189.01   4053 2020-06-30 18:24:00+05:00
..      ...     ...     ...     ...    ...                       ...
285  182.67  182.67  182.48  182.57   2829 2020-06-30 23:05:00+05:00
286  182.58  182.58  182.35   182.5   3948 2020-06-30 23:06:00+05:00
287  182.49  182.71  182.49  182.68   4118 2020-06-30 23:07:00+05:00
288  182.66  182.66  182.43  182.59   2270 2020-06-30 23:08:00+05:00
289   182.6  182.91  182.51  182.88   7404 2020-06-30 23:09:00+05:00

[290 rows x 6 columns]